.navbar {
  background-color: #7b7b7b;
}
li {
  list-style-type: none;
}


p{
    color: black;
}



.background-img {
    background-image: url(/img/20191009140007-GettyImages-1053962188\ 1.svg);
    height: 500px;
    background-size: cover;
}


p{
    color: white;
}

h1 {
  color: #562d2d;
}
