.navbar {
  background-color: #7b7b7b;
}
li {
  list-style-type: none;
}


.background-img {
    background-image: url(/img/20191009140007-GettyImages-1053962188\ 1.svg);
    height: 500px;
    background-size: cover;
  @media  (max-width:768px) {
      #mama{
        display: none;
      }
      
      
    }
}
@media screen and (max-width:768px){
  #mama {
    display: none;
  }
}
 


h1 {
  color: #562d2d;
}

#jiri{
  background-color: 
  #D9D9D9;
}